<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div id="app">
    <div class="header">
      <h1 class="typed">My Cool Chat App</h1>
    </div>
    <div class="header">
      <button class="infoButton" @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </div>
    <br>
    <!-- If we're not logged in, hide everything except the login button -->

    <template v-if="$gf.me">
      <div class="info">
        <img class="panda" src="img/panda on phone.png">
        <p>
          <b>My Username:</b> {{ myUsername }}
        </p>
        <p>
          <form @submit.prevent="resolver.requestUsername(preferredUsername).
              then(r=>{usernameResult=r; myUsername=preferredUsername}).catch(e=>usernameResult=e.toString());">
            <input class="usernameInput" v-model="preferredUsername" placeholder="Choose a Username" />
            <!-- <input type="submit" value="Set Username"/> -->
            <button class="setUsername" type="submit">Set Username</button>
          </form>
          {{ usernameResult }}
          </p>
        <p>
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
          <b>My Name:</b> <name :actor="$gf.me" :editable="true"></name>
        </p>
        <!-- <p>
        Enter a Username: <span> {{ requestUsername }} </span> 
        <input v-model="requestUsername"/> 
        <button @click="requestUsernameChange">Change Username</button>
      </p> -->
        <div class="middle">
          <p>
            <b>Change chat format:</b>
            <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
            <label for="channel">Channel-based public chat</label>
            <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
            <label for="pm">Private Messaging</label>
          </p>
        </div>

        <p v-if="!privateMessaging">
          <!-- <label for="channel">
          Change the channel you're chatting in:
        </label>
        <input id="channel" v-model="channel" /> -->
        </p>
        <p v-else>
          <label for="recipient">
            <b>Search Username: </b>
          </label>
          <input id="recipient" v-model="recipient" />
          <button @click="searchRecipient">Search</button>
          <span id="progress"></span>
          <br>
          <label for="actorID">
            <b>Actor ID: </b>
            <input id="actorID" v-model="actorID" />
          </label>
        </p>


        <!-- A form for sending messages -->
        <form @submit.prevent="sendMessage">
          <input type="file" @change="onImageAttachment" accept="image/png, image/jpeg" />
          <input class="typemessage" v-model="messageText" placeholder="Type a message..." />
          <input class="sendbutton" type="submit" value="Send" /> &nbsp;
        </form>

      </div>




      <!-- List all the messages -->
      <div v-for="message of messages" :key="message.id">

        <!-- Display and edit form if we're editing a message -->
        <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
          <input v-model="editText">
          <input type="submit" value="Save" />
        </form>

        <!-- Otherwise, display a bunch of properties from the message -->
        <div v-else>
          <div class="message">
            <template v-if="message.actor === $gf.me">
              <div class="right"></div>
            </template>
            <template v-else>
              <div class="left"></div>
            </template>

            <template v-if="!privateMessaging">
              <div>
                <!-- <b>Name: </b> -->
                <name class="name" :actor="message.actor"></name> <span>@{{
                  getUsername(message.actor) }}</span>
                <!-- &nbsp; <b>Actor ID:</b> {{ message.actor }} -->
                <div class="deletedit">
                  <template v-if="message.actor==$gf.me">
                    <button id="buttonchat" @click="removeMessage(message)">
                      Delete
                    </button>

                    <button id="buttonchat" @click="startEditMessage(message)">
                      Edit
                    </button>
                  </template>
                </div>
                <div class="time">{{ message.published }}</div>

              </div>

            </template>

            <template v-if="privateMessaging">
              <div>
                <name class="name" :actor="message.actor"></name>
                <!-- &nbsp; <b>To Actor ID:</b> {{ message.bto[0] }} -->
                <span class="username">@{{
                  getUsername(message.actor) }}</span>
              </div>
            </template>
            &nbsp;
            <div>{{ message.content }}</div>
            &nbsp;
            <div v-if="message.attachment">
              <div v-if="message.attachment.magnet in this.downloadedImages">
                <img :src="downloadedImages[message.attachment.magnet]" />
              </div>
              <div v-else>
                Loading
              </div>
              <!-- {{ message.attachment }} -->
            </div>
            <!-- <div><b>Last Edited at Time:</b> {{ message.updated }}</div> -->
            <!-- This is a unique identifier that can be used to "link" to messages -->
            <!-- <div>ID: {{ message.id }}</div> -->

            <!-- Only add these controls if the message is ours -->
            <!-- You can't edit or delete other people's messages -->


            <div class="read">
              <like :messageid="message.id"></like>
              <reply :messageid="message.id"></reply>
              &nbsp;
              <read :readid="message.id"></read>
            </div>

    </template>
  </div>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button class="infoButton" v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText" />
      <input type="submit" value="Save Name" />
    </form>
  </template>

  <template id="like">
    <button class="likebutton" @click="toggleLike">
      {{ myLikes.length? "Unlike" : "Like" }} {{ numLikes }}
    </button>
  </template>

  <template id="read"> Read: {{ ...new Set(usernames) }}
  </template>

  <template id="reply">
    <button @click="replyButton">
      Reply
    </button>

</body>

</html>