<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div id="app">
    <div class="header">
      <h1 class="typed">My Cool Chat App</h1>
    </div>
    <div class="header">
      <button class="infoButton" @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </div>
    <br>
    <!-- If we're not logged in, hide everything except the login button -->

    <template v-if="$gf.me">
      <div class="info">
        <img class="panda" src="img/panda on phone.png">

      <div>
        <b>Profile Picture:</b> 
          <pro :actor="$gf.me" :editable="true"></pro>
      </div>

      <br><br>

      
  
      <!-- <div v-if="profile.attachment">
        <div v-if="profile.attachment.magnet in this.downloadedImages"></div>
        <div v-else>
          Loading
        </div>
      </div> -->
      <!-- <profile :actor="$gf.me" :editable="true"></profile> -->


      <div class="everythingrow">
        <p>
          <b>Name:</b> <name :actor="$gf.me" :editable="true"></name>
        </p>
        <p>
          &nbsp; <b>Username:</b> {{ myUsername }} &nbsp;
        </p>
        <p>
          <form @submit.prevent="resolver.requestUsername(preferredUsername).
              then(r=>{usernameResult=r; myUsername=preferredUsername}).catch(e=>usernameResult=e.toString());">
            <input class="usernameInput" v-model="preferredUsername" placeholder="Choose a Username" />
            <!-- <input type="submit" value="Set Username"/> -->
            <button class="setUsername" type="submit">Set Username</button>
          </form>
          {{ usernameResult }}
          </p>
      </div>
      
        <div class="middle">
          <p>
            <b>Change chat format:</b>
            <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
            <label for="channel">Channel-based public chat</label>
            <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
            <label for="pm">Private Messaging</label>
          </p>
        </div>

        <p v-if="!privateMessaging">
          <!-- <label for="channel">
          Change the channel you're chatting in:
        </label>
        <input id="channel" v-model="channel" /> -->
        </p>
        <p v-else>
          <label for="recipient">
            <b>Search Username: </b>
          </label>
          <input id="recipient" v-model="recipient" />
          <button @click="searchRecipient">Search</button>
          <span id="progress"></span>
          <br>
          <label for="actorID">
            <b>Actor ID: </b>
            <input id="actorID" v-model="actorID" />
          </label>
        </p>


        <!-- A form for sending messages -->
        <form @submit.prevent="sendMessage">
            <!-- <h3> {props.title} </h3> -->
          <div class="everythingrow">
            <a href="https://www.google.com/maps/" target="_blank"> <img class='purple' src="img/purple.png"/> </a> &nbsp;
            <input type="file" @change="onImageAttachment" accept="image/png, image/jpeg" />
            <input class="typemessage" v-model="messageText" placeholder="Type a message..." />
            <input class="sendbutton" type="submit" value="Send" />
          </div> &nbsp;
        </form>

      </div>


      <!-- List all the messages -->
      <div v-for="message of messages" :key="message.id">

        <!-- Display and edit form if we're editing a message -->
        <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
          <input v-model="editText">
          <input type="submit" value="Save" />
        </form>

        <!-- Otherwise, display a bunch of properties from the message -->
        <div v-else>
          <div class="message">
            <template v-if="message.actor === $gf.me">
              <div class="right"></div>
            </template>
            <template v-else>
              <div class="left"></div>
            </template>

            <template v-if="!privateMessaging">
              <div>
                <!-- <b>Name: </b> -->
                <pro :actor="message.actor"></pro>
                <name class="name" :actor="message.actor"></name> <span>@{{
                  getUsername(message.actor) }}</span>
                <!-- &nbsp; <b>Actor ID:</b> {{ message.actor }} -->
                <div class="deletedit">
                  <template v-if="message.actor==$gf.me">

                    <button id="buttonchat" @click="removeMessage(message)">
                      Delete
                    </button>

                    <button id="buttonchat" @click="startEditMessage(message)">
                      Edit
                    </button>
                  </template>
                </div>
                <div class="time">{{ message.published }}</div>

              </div>

            </template>

            <template v-if="privateMessaging">
              <div>
                <pro :actor="message.actor"></pro>
                <name class="name" :actor="message.actor"></name>
                <!-- &nbsp; <b>To Actor ID:</b> {{ message.bto[0] }} -->
                <span class="username">@{{
                  getUsername(message.actor) }}</span>
              </div>
            </template>
            &nbsp;
            <div>
              {{ message.content }}
              <a href="https://www.google.com/maps/${{message.content}}" target="_blank"> <img class='purple' src="img/purple.png"/> </a> &nbsp;
            </div>
            &nbsp;
            <div v-if="message.attachment">
              <div v-if="message.attachment.magnet in this.downloadedImages">
                <img class="messageImage" :src="downloadedImages[message.attachment.magnet]" />
              </div>
              <div v-else>
                Loading
              </div>
            </div>
            <!-- <div><b>Last Edited at Time:</b> {{ message.updated }}</div> -->
            <!-- This is a unique identifier that can be used to "link" to messages -->
            <!-- <div>ID: {{ message.id }}</div> -->

            <!-- Only add these controls if the message is ours -->
            <!-- You can't edit or delete other people's messages -->


            <div class="read">
              <like :messageid="message.id"></like>
              &nbsp;
              <read :readid="message.id"></read>
              <br><br>
              <reply :messageid="message.id"></reply>
            </div>

    </template>
  </div>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button class="infoButton" v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText" />
      <input type="submit" value="Save Name" />
    </form>
  </template>

  <template id="like">
    <div class="float-child">
      <button class="likebutton" @click="toggleLike">
        {{ myLikes.length? "Unlike" : "Like" }} {{ numLikes }}
      </button>
    </div>
  </template>

  <template id="read"> 
    <div class="hoverread">
    Read {{ read.length }}
    <div class="usernamelist">
     {{ [...new Set(usernames)] }}
    </div>
  </div>
  </template>


  <template id="reply">
    <form @submit.prevent="sendMessage">
      <input class="typereply" v-model="messageText" placeholder="Post a reply...">
      <input class="sendbutton" type="submit" value="Send" />
    </form>
    <br>
    <details>
      <summary>Replies: {{ replies.length }}</summary>
    <div v-for="reply of replies" :key="reply.inReplyTo">
      <template v-if="!privateMessaging">
        <div class="comments">
          <!-- <b>Name: </b> -->
          <name class="name" :actor="reply.actor"></name> 
          <span>@{{ getUsername(reply.actor) }}</span> {{ reply.content }}
          <!-- &nbsp; <b>Actor ID:</b> {{ message.actor }} -->
          <div class="deleteditreply">
            <template v-if="reply.actor==$gf.me">
              <button id="buttonreply" @click="removeMessage(reply)">
                Delete
              </button>
              &nbsp; 
            </template>
          </div>
        </div>

      </template>
    </div>
  </details>
  </template>

  
  <template id="pro">
    <div v-if="profile">
      <div v-if="profile.icon">
        <template v-if="profile.icon.magnet in this.downloadedpfpImages">
          <img class="profilepicture" :src="downloadedpfpImages[profile.icon.magnet]" />
        </template>
      </div>
      <div v-else>
        Loading
      </div>
    </div>
    <span v-if="!editing">
      <br>
      <button class="infoButton" v-if="editable" @click="editPicture">Edit Profile Picture</button>
    </span>
    
    <form v-else @submit.prevent="savePicture">
      <br>
      <input @change="onProfileAttachment" type="file" accept="image/png, image/jpeg" />
      <input type="submit" value="Save" :disabled="privateMessaging"/>
    </form>
  </template>

</body>

</html>